# Python
venv/
__pycache__/
*.pyc
.env

# dbt
target/
dbt_packages/
logs/

# Data (не зберігаємо сирі дані у git)
data/

# OS
.DS_Store
.idea/
logs/
service_account.json

# Airflow
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/airflow.cfg
airflow/simple_auth_manager_passwords.json.generated
airflow/logs/